// Colors
$off-black: #282828;
$off-white: #e9d7ee;
$off-blue: rgb(81, 80, 97) ;
$blue: #3c4251 ;
$light-blue: rgb(73, 75, 109);
$purple: rgb(105, 35, 146);

//spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;